.cardProducto {
    background-color: rgb(166, 166, 166);
    border-radius: 10px;
    border: 2px solid black;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto h3 {
    font-size: 2rem;
}

.cardProducto img {
    border-radius: 10px;
    border: 1px solid black;
    width: 150px;
    object-fit: contain;
}

.cardProducto button {
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
}

.cardProducto button a {
    text-decoration: none;
    color: white;
}