.cartContainer {
    display: flex;
    flex-wrap: wrap;
}

.contenedorItem {
    background-color: rgb(166, 166, 166);
    border-radius: 10px;
    border: 2px solid black;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedorItem img {
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
    object-fit: contain;
}

h3 {
    font-size: 1.5rem;
}

.mensajeCarrito {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s forwards;
    font-size: 1.5rem;
}