header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

nav ul li .active {
    color: black;
    background-color: grey;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: black;
}

header a {
    text-decoration: none;
    color: black;
}

header .active h1{
        text-decoration: underline;
}